ul li{
    display: inline-block;
    margin-right: 24px;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
ul:hover{
    background-color: aliceblue;
}
.header{
    background-color: rgb(106, 248, 248); 
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.container{
    background-color: cadetblue;
    padding: 10px;
    color:yellow;
    text-indent: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: underline;
    word-spacing: 20px;
    line-height: 25px;


}
.Footer{
    text-align: center;
    background-color:aliceblue;
    padding: 10px;
    bottom: 0;
    width: 100%;
    font-size: 50px;
    font-variant: small-caps;
    font-style: italic;

}
.float-left{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.float-right{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
body{
    background-image: url(img.bj_habibie.jpg);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, Verdana, Geneva, Tahoma, sans-serif;
}
.red{
    color:red;
}